<%= link_to "Create Question", new_question_path %>

<ul>
  <% @questions.each do |question| %>
    <li>
      Title: <%= question.title %> | Type: <%= question.questionable_type %>
    </li>
  <% end %>
</ul>