<%= link_to "Create Multiple Choice Question", new_multiple_choice_question_path %>

<h3>Questions</h3>

<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to question.title, multiple_choice_question_path(question) %>
    </li>
  <% end %>
</ul>